* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#image-box {
    display: flex;
    justify-content: center;
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

#input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 250px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
}

.input {
    width: 50%;
}

#text-box {
    position: absolute;
    top: 10;
    width: 80%;
    height: 50%;
}

#image-text {
    position: absolute;
    top: 50%;
    left: 35%;
    max-width: 100px;
}

#arrow-box {
    border-radius: 50%;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    position: relative;
    padding: 2px;
}

.fas {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#up {
    top: 0; 
    left: 23px; 

}

#right {
    right: -5px;
    top: 20px;
}

#left {
    left: 0;
    top: 20px;
}

#down {
    bottom: -5px;
    left: 23px;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#save-button {
    position: relative;
    width: 100px;
    height: 50px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
}

#save-button:active {
    box-shadow: inset 5px 5px 10px gray;
}

