* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffb997;
    min-height: 100%;
}

main {
    min-height: 100%;
    top: 50px;
    font-family: 'Mohave', sans-serif;
    letter-spacing: .1em;
    line-height: 1.3rem;
    padding-bottom: 50px;
}

nav {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    position: relative;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;    
}

#mainNavbar .nav-link {
    color: #843b62
}

#mainNavbar .nav-link:hover {
    color: #0b032d
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

.navbar.scrolled {
    background: #f67e7d;
    transition: background 500ms;
}

.nav-item {
    list-style: none;
    padding: 0 0 0 20px;
}

.navbar-nav {
    display: flex;
}

#hamburger-box {
    width: 30px;
    position: absolute;
    right: 10px;
    visibility: hidden;
}

#hamburger-box img {
    width: 100%;
}

#x-box {
    width: 30px;
    position: absolute;
    right: 10px;
    visibility: hidden;
}

#x-box img {
    width: 100%;
}

h1 {
    margin: 20px 0;
}

#image-box {
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
    height: inherit;
    margin: 0 auto;
}

#image-box img {
    width: 75%;
}

#input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: inherit;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 5px 5px 10px #843b62;
}

.input {
    width: 50%;
    border-radius: 10px;
    padding-left: 5px;
    margin-bottom: 2px;
}

.input[type="color"] {
    width: 20px;
}

hr {
    width: 50%;
    color: black;
}

#checkout {
    height: 150px;
}

#text-box {
    position: absolute;
    top: 10;
    width: 80%;
    height: 50%;
}

#image-text {
    font-family: 'Anton', sans-serif;
    position: absolute;
    top: 30%;
    left: 30%;
    max-width: 100px;
}

#arrow-box {
    width: 60px;
    height: 60px;
    position: relative;
    padding: 2px;
    margin-top: 5px;
}

.fas {
    position: absolute;
    width: 20px;
    max-height: 20px;
    cursor: pointer;
    margin: auto;
}

#up {
    top: 0; 
    left: 20px; 

}

#right {
    right: 0;
    top: 20px;
}

#left {
    left: 0;
    top: 20px;
}

#down {
    bottom: 0px;
    left: 20px;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

button {
    width: 100px;
    height: 50px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
    background-color: #843b62;
    color: white;
    cursor: pointer;
}

#to-confirm {
    width: 100px;
    height: 50px;
    margin: 10px auto;
    cursor: pointer;
}

#save-button {
    position: relative;
}

#save-button:active {
    box-shadow: inset 5px 5px 10px gray;
}

#confirm-button {
    margin: 0 auto;
    visibility: hidden;
    margin-top: 10px;
}

#instructions {
    width: 30%;
    margin: 0 auto;
    line-height: 2rem;
}