body {
    background : #ffb997
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;    
}

#mainNavbar .nav-link {
    color: #843b62
}

#mainNavbar .nav-link:hover {
    color: #0b032d
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

.navbar.scrolled {
    background: #f67e7d;
    transition: background 500ms;
}

#hamburger-box {
    width: 30px;
    position: absolute;
    right: 10px;
    visibility: hidden;
}

#hamburger-box img {
    width: 100%;
}

#x-box {
    width: 30px;
    position: absolute;
    right: 10px;
    visibility: hidden;
}

#x-box img {
    width: 100%;
}

.slides_container {
    height:500px;
    width:1000px;
    border-radius: 25px;
    background-color: #843b62;
    overflow:hidden;
    position:relative;
}
.slides_container .slide {
    height: 100%;
    width: 100%;
    margin-top: 200px;
    position:absolute;
    visibility:hidden;
    opacity:0;
    transition:opacity 1s ease, visibility 0s ease 1s;
}
.slides_container .slide.active {
    z-index : 10;
    visibility:visible;
    opacity:1;
    transition:opacity 1s ease;
}
/* 
@media screen and (max-width: 800px) {
    #navbarBrand {
        visibility: hidden;
    }

    #navbarNav {
        visibility: hidden;
        flex-direction: column;
    }

    #hamburger {
        visibility: visible;
    }

    #mainNavbar {
        display: flex;
        flex-direction: column;
    }
} */